/*index*/
body{
    background-color: steelblue;
    padding: 0px 40px;
    margin-bottom: 200px;
}

h1{
    font-size: 100px;
    color: white;
}

h2{
    font-size: 70px;
    color: white;
    text-align: center;
}

p{
    font-size: 25px;
}

#div_menu{
    background-color: white;
    padding: 20px 40px;
    border-radius: 30px;
    width: 50vh;
    margin: 0 auto;
    border: 4px solid black;
    text-align: center;
}

#btn_menu{
    width: 90%;
    padding: 15px;
    margin: 25px auto;
    height: 65px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#btn_menu:hover{
    width: 90%;
    padding: 15px;
    margin: 25px auto;
    height: 65px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    font-size: 25px;
}





/*evento*/
#div_even{
    background-color: white;
    padding: 20px 40px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 40px auto;
}

#btn_even{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#btn_even:hover{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#table_even{
    margin: 0 auto;
}

td{
    padding: 20px 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

th{
    background-color: steelblue;
    color: white;
    font-size: 40px;
}





/*sede*/
#h1_sede{
    text-align: center;
    font-size: 100px;
    color: white;
}

#div_sede{
    background-color: white;
    padding: 20px 40px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 40px auto;
}

#btn_sede{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
    text-align: center;
}

#btn_sede:hover{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#table_sede{
    margin: 0 auto;
}

#video{
    margin: 0 auto;
    display: block;
    padding: 40px 40px;
}

form{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: 4px solid black;
    width: 50%;

}

input,select,textarea{
     width: 90%;
    display: block;
    padding: 8px;
    margin: 20px auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 30px;
}

button[type="submit"]{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
    text-align: center;
}

button[type="submit"]:hover{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: green;
    font-size: 25px;
    text-align: center;
}

button[type="reset"]{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
    text-align: center;
}

button[type="reset"]:hover{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
    font-size: 25px;
    text-align: center;
}

li{
    font-size: 25px;
}





/*registro*/
#div_reg{
    background-color: white;
    padding: 20px 40px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 40px auto;
}

#btn_reg{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#btn_reg:hover{
    width: 20%;
    margin: 2px auto;
    height: 45px;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: steelblue;
    font-size: 25px;
}

#contacto-form{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: 4px solid black;
    width: 70%;

}

#div_radio{
  display: flex;
    justify-content: left;
    gap: 40px;
    margin-top: 5px;
}

#div_radio label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
  }

  #div_radio input[type="radio"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  #checkbox_pref{
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-top: 5px;
  }

  #checkbox_pref label{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
  }

  #checkbox_pref input[type="checkbox"]{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    font-size: 25px;
  }
